# Terraform state and backup files
*.tfstate
*.tfstate.backup

# Terraform configuration lock file
.terraform.lock.hcl

# Terraform working directory
.terraform/

# Crash log files
crash.log

# Override files (if any)

# Sensitive files (if any)
*.key
*.pem
.terraform/
